/* line 1, index.css.scss */
.hidden {
  display: none; }

/* line 5, index.css.scss */
.header {
  background-color: #23527C;
  padding: 20px;
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: space-around; }
  /* line 15, index.css.scss */
  .header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; }
    /* line 21, index.css.scss */
    .header .text h1 {
      font-size: 6em;
      color: rgba(255, 255, 255, 0.8); }
    /* line 26, index.css.scss */
    .header .text p {
      font-size: 4em;
      margin-left: 50px;
      color: rgba(255, 255, 255, 0.5); }
  /* line 33, index.css.scss */
  .header .profile {
    display: flex; }
    /* line 35, index.css.scss */
    .header .profile img {
      object-fit: cover;
      border-radius: 3px; }
    /* line 39, index.css.scss */
    .header .profile .contact {
      display: flex;
      font-size: 15px;
      color: white;
      padding: 15px; }
      /* line 45, index.css.scss */
      .header .profile .contact .contact-items {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around; }
      /* line 51, index.css.scss */
      .header .profile .contact .contact-info {
        margin-right: -500px;
        text-align: left;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around; }

/* line 64, index.css.scss */
.skills {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  /* line 70, index.css.scss */
  .skills p {
    padding-top: 25px;
    font-size: 36px;
    position: relative;
    text-anchor: middle; }
    /* line 76, index.css.scss */
    .skills p i {
      position: absolute;
      left: 15px; }

/* line 83, index.css.scss */
.items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out; }

/* line 93, index.css.scss */
.skill-list {
  padding: 0 15px 75px;
  width: 75%;
  margin: 0 auto;
  font-size: 15px; }
  /* line 100, index.css.scss */
  .skill-list .category {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  /* line 106, index.css.scss */
  .skill-list .trigger {
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out; }
  /* line 112, index.css.scss */
  .skill-list a {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    /* line 122, index.css.scss */
    .skill-list a:hover, .skill-list a:focus, .skill-list a:active {
      text-decoration: none; }
    /* line 126, index.css.scss */
    .skill-list a p {
      font-size: 25px; }
    /* line 130, index.css.scss */
    .skill-list a .icons {
      position: relative; }
      /* line 134, index.css.scss */
      .skill-list a .icons .fa.fa-indent {
        text-shadow: 2px 0 3px #fff, -2px 0 3px #fff, 0 2px 3px #fff, 0 -2px 3px #fff, 1px 1px #fff, -1px -1px 3px #fff, 1px -1px 3px #fff, -1px 1px 3px #fff;
        position: absolute;
        font-size: 80px;
        top: 10px;
        left: 110px; }
      /* line 141, index.css.scss */
      .skill-list a .icons .fa.fa-database {
        font-size: 150px; }
      /* line 144, index.css.scss */
      .skill-list a .icons .fa.fa-desktop {
        font-size: 150px; }
      /* line 147, index.css.scss */
      .skill-list a .icons .fa.fa-terminal {
        position: absolute;
        font-size: 25px;
        top: 55px;
        left: 90px; }
      /* line 153, index.css.scss */
      .skill-list a .icons .fa.fa-globe {
        font-size: 150px; }
      /* line 156, index.css.scss */
      .skill-list a .icons .fa.fa-code {
        text-shadow: 2px 0 3px #fff, -2px 0 3px #fff, 0 2px 3px #fff, 0 -2px 3px #fff, 1px 1px #fff, -1px -1px 3px #fff, 1px -1px 3px #fff, -1px 1px 3px #fff;
        position: absolute;
        font-size: 75px;
        top: 35px;
        left: 110px; }
  /* line 167, index.css.scss */
  .skill-list .languages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    width: 100%;
    flex-wrap: wrap; }
    /* line 175, index.css.scss */
    .skill-list .languages .language {
      width: 300px;
      height: 300px;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      /* line 185, index.css.scss */
      .skill-list .languages .language img {
        width: 200px;
        height: 200px;
        object-fit: scale-down; }
      /* line 191, index.css.scss */
      .skill-list .languages .language p {
        margin-bottom: 15px; }

/* line 198, index.css.scss */
.history {
  height: 200px;
  background-color: #23527C;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center; }
  /* line 206, index.css.scss */
  .history p {
    color: white;
    font-size: 32px; }
  /* line 211, index.css.scss */
  .history a {
    color: rgba(255, 255, 255, 0.5); }
    /* line 213, index.css.scss */
    .history a:hover {
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none; }
