---
title: Jérémie Bonal - Developer
---

<div class="header">
  <div class="text">
    <h1>Bonal Jérémie</h1>
    <p>Developer</p>
  </div>
  <img src=<%= gravatar_for("jeremie.bonal@gmail.com")+"?s=200" %>>
</div>

<div class="skills">
  <p>Compétences</p>
  <div class="skill-list">

    <div class="software">
      <a href="#" id="software" class="">
        <div class="icons">
          <i class="fa fa-desktop"></i>
          <i class="fa fa-terminal"></i>
        </div>
        <p>Software</p>
      </a>

      <div class="languages">
        <div class="language language-c">
          <img src="" alt="c">
        </div>
        <div class="language language-python">
          <img src="" alt="python">
        </div>
        <div class="language language-ruby">
          <img src="" alt="ruby">
        </div>
        <div class="language language-java">
          <img src="" alt="java">
        </div>
      </div>
    </div>

    <div class="web">
      <a href="#" id="web" class="">
        <div class="icons">
          <i class="fa fa-globe"></i>
          <i class="fa fa-code"></i>
        </div>
        <p>Web</p>
      </a>

      <div class="languages">
        <div class="language language-rails">
          <img src="" alt="rails">
        </div>
        <div class="language language-sql">
          <img src="" alt="sql">
        </div>
        <div class="language language-css3">
          <img src="" alt="css3">
        </div>
        <div class="language language-scss">
          <img src="" alt="scss">
        </div>
        <div class="language language-html5">
          <img src="" alt="html5">
        </div>
        <div class="language language-js">
          <img src="" alt="js">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="history">

</div>

<div class="footer">

</div>
