---
title: Jérémie Bonal - Developer
---

<div class="header">
  <div class="text">
    <h1>Bonal Jérémie</h1>
    <p>Developer</p>
  </div>
  <img src=<%= gravatar_for("jeremie.bonal@gmail.com")+"?s=200" %>>
</div>

<div class="skills">
  <p><a href="#" class="back-link"><i class="fa fa-chevron-left hidden"></i></a>Compétences</p>
  <div class="items skill-list">

    <div class="category software">
      <a href="#" id="software" class="trigger trigger-1">
        <div class="icons">
          <i class="fa fa-desktop"></i>
          <i class="fa fa-terminal"></i>
        </div>
        <p>Software</p>
      </a>

      <div class="items hidden">
        <div class="languages">
          <div class="language language-c">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/The_C_Programming_Language_logo.svg" alt="c">
            <p>C</p>
          </div>
          <div class="language language-python">
            <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-python-icon.png" alt="python">
            <p>Python</p>
          </div>
          <div class="language language-ruby">
            <img src="http://orig06.deviantart.net/9941/f/2013/261/a/f/ruby_minimal_logo_by_oscarito201094-d6mvh10.png" alt="ruby">
            <p>Ruby</p>
          </div>
          <div class="language language-java">
            <img src="http://cdn.cultofmac.com/wp-content/uploads/2013/06/java-logo.jpg" alt="java">
            <p>Java</p>
          </div>
        </div>
      </div>

    </div>

    <div class="category web">
      <a href="#" id="web" class="trigger trigger-1">
        <div class="icons">
          <i class="fa fa-globe"></i>
          <i class="fa fa-code"></i>
        </div>
        <p>Web</p>
      </a>

      <div class="items hidden">

        <div class="category back">

          <a href="#" id="back" class="trigger trigger-2">
            <div class="icons">
              <i class="fa fa-database"></i>
            </div>
            <p>Back-End</p>
          </a>

          <div class="items hidden">
            <div class="languages">
              <div class="language language-rails">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="rails">
                <p>Rails</p>
              </div>
              <div class="language language-sql">
                <img src="https://cdn3.iconfinder.com/data/icons/ui-9/512/server-512.png" alt="sql">
                <p>SQL</p>
              </div>
            </div>
          </div>

        </div>

        <div class="category front">

          <a href="#" id="front" class="trigger trigger-2">
            <div class="icons">
              <i class="fa fa-desktop"></i>
              <i class="fa fa-indent"></i>
            </div>
            <p>Front-End</p>
          </a>

          <div class="items hidden">
            <div class="languages">
              <div class="language language-css3">
                <img src="http://io13-high-dpi.appspot.com/images/CSS3_Logo.svg" alt="css3">
                <p>CSS3</p>
              </div>
              <div class="language language-scss">
                <img src="http://codezyn.com/wassup/wp-content/uploads/2014/10/317889.png" alt="scss">
                <p>Sass</p>
              </div>
              <div class="language language-html5">
                <img src="https://www.webreflection.co.uk/img/html5.svg" alt="html5">
                <p>HTML5</p>
              </div>
              <div class="language language-js">
                <img src="https://www.codementor.io/assets/page_img/learn-javascript.png" alt="js">
                <p>JS</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="history">

</div>

<div class="footer">

</div>
